<div class="login" fxLayout="row">
    <div class="ingreso" [fxFlex]="33" fxLayout="column">
      <div class="encabezado" [fxFlex]="50" fxLayout="column"fxLayoutAlign="space-around center">
        <div class="imagen" [fxFlex]="10"></div>
        <div class="imagen" [fxFlex]="70">
          <img class="logo" src="https://imgur.com/pDOYDp2.png" alt="" />
        </div>
        <div class="title" [fxFlex]="20" fxFlexFill fxLayoutAlign="center center">
          <p fxFlexAlign="center center">Ingrese a la tienda</p>
        </div>
      </div>
      <form [formGroup]="formLogin" [fxFlex]="35" fxLayout="column nowrap" fxLayoutAlign="space-around center">
        <div id="row_id" class="row-form" fxLayout="row nowrap" [fxFlex]="20">
          <input [fxFlex]="80" formControlName="username" type="email" />
          <div class="icon" [fxFlex]="20" fxLayout="column nowrap" fxLayoutAlign="center center">
            <img src="../../../../assets/images/user.png" alt="" [fxFlex]="50" />
          </div>
        </div>
        <div class="row-form" fxLayout="row nowrap" [fxFlex]="20">
          <input [fxFlex]="80" formControlName="password" type="password" />
          <div class="icon" [fxFlex]="20" fxLayout="column nowrap" fxLayoutAlign="center center">
            <img src="../../../../assets/images/exclude.png" alt="" [fxFlex]="50" />
          </div>
        </div>
        <!-- <ngx-recaptcha2 #captchaElem [siteKey]="siteKey"> </ngx-recaptcha2> -->
        <button [fxFlex]="15" type="button" class="row-form button"  (click)="ingresar()">Ingresar</button>
        
        <button [fxFlex]="15" type="button" class="row-form button"  [routerLink]="['/ventas/catalogo']">Regresar a la tienda</button>        
      </form>
      <div class="pie-pagina" [fxFlex]="15">
        <a [routerLink]="['/auth/register']"> Desea registrarse?, Hagalo ahora!!</a>
      </div>
    </div>
    <div class="banner" [fxFlex]="67">
      <app-carousel></app-carousel>
    </div>
  </div>