@import "../../../assets/styles/variables.scss";


.producto{
    width: 300px;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.centrado{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cantidad{
    background-color: $fondo;
    color: $white-color !important;
    font-weight: bold;
    border-radius: 5px;
    
    width: 100%;
    height: 100%;
}

.operador{
    background-color: $fondo;
    text-decoration: none;
    width: 100%;
    height: 150%;
    border-radius: 5px;
    font-size: 10px;
    color: $white-color !important;
    font-weight: bold;
    margin: 1px;
}

.operador:hover{
    font-size: 105%;
    background-color: rgba(160, 160, 160,0.8);
}
.opciones-cantidad{
    display: flex;
    flex-direction: column;
}
.producto-agregar{
    background-color: $fondo;
    color: $white-color !important;
    font-weight: bold;
    text-decoration: none;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.producto-agregar:hover{
    font-size:110%;
    opacity: 90%;
}

.producto-opciones{
    height:40px ;
}

.producto-precio{
    display: flex;
    align-items: center;
    height:30px ;
    color: $fondo_oscuro;
    font-weight: bold;
}

.producto-nombre{
    display: flex;
    align-items: center;
    color: rgb(100, 100, 100);
}

.producto{
    border-radius: 15px;
    margin:15px;
    padding: 10px;
}

.producto-imagen{
    height: 240px;
    padding: 10px;
}

.imagen{
    max-height: 95%;
    max-width: 95%;
}

.agotado{
    color:$fondo;
}