<div class="header" #header> 
	<nav class="navbar-emark">
			<div class="row navbar-container ">
					<div class="col-md-2 navbar-section">
							<a class="navbar-brand" routerLink="[/catalogo]">
									<i class="fas fa-store"></i> EMARK
							</a>
					</div>
					<div class="col-md-8 ">
							<div class="navbar-section">
									<form class="navbar-form" >
											<input #termino (input)="buscarParcial(termino.value)" (focus)="buscarParcial(termino.value)" class="form-control buscador" name="buscar" ngModel type="search" placeholder="Encuentra tu producto aqui" aria-label="Search">
									</form>
							</div>
							<!-- Modal -->
					</div>
					<div class="col-md-1 navbar-section navbar-cuenta">
							<div class="dropdown">
									<a class=" dropdown-toggle" style="text-decoration: none !important; color: black;" 
									type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" 
									aria-expanded="true">
									<i class="fa fa-user"></i>
										Mi cuenta
									</a>
									<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
											<li *ngIf="(auth.isAuthenticated$ | async)"><a (click)="goToLink('user/profile')" class="dropdown-item">Perfil</a></li>
											<li *ngIf="!(auth.isAuthenticated$ | async)"><a (click)="auth.loginWithRedirect()" class="dropdown-item">Login / Registrarse</a></li>
											<li *ngIf="(auth.isAuthenticated$ | async)"><a (click)="auth.logout()" class="dropdown-item">Cerrar Sesion</a></li>
									</ul>
							</div>
					</div>
					<div class="col-md-1 navbar-section navbar-carro">
							<app-carro></app-carro>
					</div>
			</div>
	</nav>
</div>