@import "../../../assets/styles/variables.scss";

.barra{
    height: 50px;
    background-color: $fondo;
    display: flex;
    align-content: stretch;
}
.barra-option{
    display: flex;
    justify-content: center;
    align-items:center;
    text-decoration: none;
    color:#fff;
    background-color: $fondo;
    font-weight: bold;
    font-size: 20px;
    border: 1px $fondo solid;
}

.barra-option:hover{
    background-color:$fondo;
    color: #fff;
    opacity: 0.75;
    font-size: 24px;
}

.barra-option:active{
    
    background-color: #c0c0c0;
}

.opcion-no-seleccionada{

    background-color: #fff;
    color: $fondo;
}

.opcion-seleccionada{

    background-color:$fondo;
    color: #fff;
}