.form-datos{
    padding: 30px;
    margin: 30px;
    background-color: #fdfdfd;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.titulo-datos{
    font-size: 24px;
    color: #000;
    font-weight: bold;
}

.seccion-datos{
    padding: 15px;
}

.subtitulo-datos{
    font-size: 20px;
    color: #000;
    font-weight: bold;
}

.contenido-datos{
    margin: 10px 0;
} 
.centro{
    align-items: center;
}
.btn-enviar{
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
}
.enviar-datos{
    padding: 15px;
}