@import "../../../assets/styles/variables.scss";


.producto-carro{
    height: 60px;
    padding: 0 5px;
    background-color: #fff;
    color: $fondo !important;
    border: solid $fondo 1px;
    font-size: 12px;
}
.centrado{
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    color: $fondo !important;
    text-decoration: none;
}

a:hover{
    font-size: 110%;
}

.esquina-superior{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.close{
    color:$fondo;
}


.centrado-verticalmente{
    display: flex;
    align-items: center;
}

.operador{
    background-color: $fondo;
    text-decoration: none;
    border-radius: 5px;
    font-size: 10px;
    color: #fff !important;
    height: 90%;
    margin: 1px;
}

.operadores{
    height: 40%;
}

.operador:hover{
    font-size: 105%;
}

img{
    max-height: 90%;
    max-width: 90%;
}

.producto-carro:hover{
    font-weight: normal!important;
}

.en-filas{
    flex-wrap: wrap;
    flex-direction: column;

}

.producto-data{
    width: 100%;
}